<!DOCTYPE html>
<html>

<%= erb :"assets/head" %>

<body class="event_page">
<!-- if event exists -->
<% if @event.info.length > 0 %>
<%= erb :"assets/header" %>
	<div class="page_body">	

	<form class="Button events-nav" action="/">
		<button type="submit">Back to Events</button>
	</form>

		<div class="event info">	
			<h2><%= @event.info['title'] %></h2>
	
			<div class="event_details">
				<p><%= @event.info['description'] %> 
					<a href = <%= @event.info['link'].to_s %>>
						Find out more.
					</a>
				</p>
				<ul>
					<li>Who: <%= @event.info['group_name'] %></li>

					<li>When: <%= (Time.parse(@event.info['date']).strftime('%a %d %b %Y')) + " @ " + 
					(Time.parse(@event.info['time']).strftime('%l:%M''%P')) %>
					</li>	

					<li>Where: <%= @event.info['location'] %> @ <%= @event.info['address'] %></li>
				</ul>	
			</div>
		</div>
		<div class="reservations info">
			<h2>Attendees (<%= @event.getRSVPs.length %>)</h2>
			<div class="attendees">
				<ul>
					<% @event.getRSVPs.each do |name| %>
					<%= "<li><img class='profile' src='" + name["image"] + "'><p>" + name["fullname"] + "</p></li>"%> 
					<% end %> 
				</ul>
			</div>
			<!-- user is logged in -->
			<% if session[:user] %>
				<!-- prevents rsvp on past events -->
				<% if Time.parse(@event.info["date"] + ' ' + @event.info["time"]).to_i > Time.now.to_i %>
					<div class="rsvp-actions">
						<form class="rsvp-button" action="/addAttendee" method="post">
							<input type="hidden" name="eventId" value=<%= @event.info["id"] %> readonly >
							<button type="submit"> RSVP </button>
						</form>
						<form class="rsvp-button" action="/deleteRsvp" method="post">
							<input type="hidden" name="eventId" value=<%= @event.info["id"] %> readonly>
							<button type='submit'> Remove RSVP </button>	
						</form>
					</div>
				<% else %>
				<br><span>This event has passed</span>
				<% end %>
			<!-- user is not logged in -->
			<% else %>
				<p class="login-to-comment"> Please login to RSVP </p>
			<% end %>
		</div>

		<div class="comments">
			<h2>Comments</h2><br>
			<% @event.getComments.each do |comment| %>
				<%= "<div class='eachcomments'><span class='comment-name'>" + comment["username"] + "</span> " + 
				"<span class='comment-text'>" + comment["comment"] + "</span> " %>

				<% if session[:user] %>
					<% if comment['username'] == session[:user]['username'] && (Time.now.to_i - comment['timestamp'].to_i) < 1800 %>
						<button class="editComment" id=<%= comment["id"] %>>edit</button>
				    <% end %> 
				<% end %>    
			    </div>
			<% end %> 
			<% if session[:user] %>
			<form action="/comments" method="post">
				<textarea class="commentInput" name='comment' required></textarea><br>
				<input type="hidden" name="eventId" value=<%= @event.info["id"] %>>
				<button type='submit'>post comment</button>
			</form>
			<% else %>
			<p class="login-to-comment">Please login to comment</p>
			<% end %>
		</div>

			    <!-- The Modal -->
		<div class="editComment_modal">
		    <div class="modal_body">
	        	<form class="comment_edit" action="/editComment" method="post">
					<textarea class="editText" name="textContent"></textarea><br>
					<input type="hidden" name="eventId" value=<%= @event.info["id"] %>>
					<input class="commentId" type="hidden" name="commentId" value="">
					<button class="cancel">submit</button>
					<button class="exit">cancel</button>
				</form>
		    </div>
		</div>

	</div>
<!-- if event doesnt exist -->
<% else %>
	<h1>Bzzt! ERROR! No event under this id.</h1>
<% end %>

</body>
</html>


