<!DOCTYPE html>
<html>
<head>
	<title>This event</title>
	<link rel="stylesheet" type="text/css" href="/styles.css?i=lol">
</head>

<body>

<div class="page_body event_page">
	<div class="event">	
		<h2><%= @info['title'] %> (<%= @info['date'] %>)</h2>
		<hr>
		<div class="event_details">
			<ul>
				<li><%= @info['group'] %></li>
				<li><%= @info['time'] %></li>
				<li><%= @info['location'] %> @ <%= @info['address'] %></li>
				<li>
					<a href = <%= @info['link'].to_s %>>
						Original Page.
					</a>
				</li>
			</ul>	
		</div>
	</div>


	<div class="reservations">
		<h2>Attendees</h2>
		<button>RSVP</button>
		<hr>
		<div class="attendies">
			<ul>
				<li>Susan</li>
				<li>Wilbur</li>
				<li>Stevie</li>
			</ul>
		</div>
	</div>
</div>

<div class="modal">

	<div class="modal_body">
		<div class="exit">X</div>
		<h3>Wordpress Omaha Planning Meeting</h3>
		<p>Are you going? RSVP below.</p>
		<form action="">
			<input type="text" placeholder="Enter your name" name="newAttendeeName">
			<input type="submit" name="Submit">
		</form>
	</div>
</div>

</body>
</html>
