<!DOCTYPE html>
<html>

<%= erb :"assets/head" %>

<body class="event_page">
<!-- if event exists -->
<% if @event.info.length > 0 %>
	<div class="page_body">	
		<%= erb :"assets/header" %>
		<div class="event">	
			<h2><%= @event.info['title'] %> (<%= @event.info['date'] %>)</h2>
			<hr>
			<div class="event_details">
			<form action="/">
				<input type="submit" value="Go To Events"/>
			</form>
				<ul>
					<li><%= @event.info['group'] %></li>
					<li><%= @event.info['time'] %></li>
					<li><%= @event.info['location'] %> @ <%= @event.info['address'] %></li>
					<li>
						<a href = <%= @event.info['link'].to_s %>>
							Original Page.
						</a>
					</li>
				</ul>	
			</div>
		</div>
		<div class="reservations">
			<h2>Attendees</h2>
			<!-- user is logged in -->
			<% if session[:user] %>
				<div class="rsvp-actions">
					<form class="rsvp-button" action="/addAttendee" method="post">
						<input type="hidden" name="eventId" value=<%= @event.info["id"] %> readonly >
						<input type="submit" value="RSVP!">
					</form>
					<form class="rsvp-button" action="/deleteRsvp" method="post">
						<input type="hidden" name="eventId" value=<%= @event.info["id"] %> readonly>
						<input type='submit' value="Remove RSVP">		
					</form>
				</div>
			<!-- user is not logged in -->
			<% else %>
				<p> Please register to RSVP </p>
			<% end %>
			<hr>
			<div class="attendies">
				<ul>
					<% @event.attendees.each do |name| %>
					<%= "<li>" + name["fullname"] + "<br>" + "</li>"%> 
					<% end %> 
				</ul>
			</div>
		</div>

		<div class="comments">
			<h2>Comments</h2><br>
			<% @event.comments.each do |comment| %>
				<%= "<div class='eachcomments'><span class='comment-name'>" + comment["fullname"] + "</span> " + 
				"<span class='comment-text'>" + comment["comment"] + "</span> " +
				"<span class='comment-id'>" + comment["commentid"] + "</span> "%>

				<% if comment['fullname'] == session[:user]['fullname'] %>
					<form class="delete-comment" action="/comment-delete" method="post">
						<button name="edit_comment">edit</button>
					</form>
			   <% end %>
			   </div>
			<% end %> 


			<form action="/comments" method="post">
				<textarea class="commentInput" name='comment'></textarea><br>
				<input type="hidden" name="eventId" value=<%= @event.info["id"] %>>
				<input type='submit' value="post comment">	
			</form>
		</div>

	</div>
<!-- if event doesnt exist -->
<% else %>
	<h1>Bzzt! ERROR! No event under this id.</h1>
<% end %>

</body>
</html>


